body {
  height: 100%;
  /* width: 100%; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #011627;
}
body div.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body div.container input {
  background: transparent;
  border: 3px solid #1e2d3d;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;
  color: #43d9ad;
  margin-bottom: 30px;
}
body div.container input:focus {
  outline: none;
}
body div.container button {
  background: #1e2d3d;
  padding: 12px;
  border: none;
  color: #fea55f;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}
body h1 {
  color: #607b96;
  font-size: 50px;
}
